/* Container styles */
#about {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hard-skills {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.hability {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hability img {
  width: 3.4rem;
}

.hability1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hability1 img {
  width: 3.6rem;
  /* height: 14rem; */
}

h2 {
  display: inline-block;
  margin-bottom: 2rem;
  /* border-bottom: 0.2rem solid var(--blue); */
  font-size: 3rem;
  margin-top: 0rem;
  color: var(--green);
}

h3 {
  margin-top: 2rem;
  color: var(--green);
}

p {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.about-image {
  text-align: center;
}

.about-image img {
  margin-top: 2rem;
  width: 75%;
  filter: grayscale(0);
  transition: filter 0.5s;
  border-radius: 7px;
}

.about-image img:hover {
  filter: grayscale(0);
}

/* Responsive Styles */
@media only screen and (max-width: 480px) {
  .about-image {
    max-width: 100%;
    margin-top: 4rem;
  }

  .about-image img {
    width: 100%;
  }
}

@media (max-width: 960px) {
  #about {
    display: block;
    text-align: center;
  }

  .hard-skills {
    justify-content: center;
  }

  .about-image {
    max-width: 100%;
  }

  .about-image img {
    width: 100%;
  }
}